.App {
  text-align: center;
  padding: 20px;

}
body {
  font-family: sans-serif;
  background: #C2C1C1;
}
.logo{
  background-image: url("../public/rickmorty.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height: 200px;
  margin: auto;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input{
  width:300px;
}

.error{
  background-image: url('https://fondosmil.com/fondo/27373.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
